<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
      <add name="DefaultConnection" providerName="MySql.Data.MySqlClient" connectionString="Server=den1.mysql6.gear.host;database=dbpertanahan;UID=dbpertanahan;password=Ty0286!NTH_6;CharSet=utf8;Persist Security Info=True" />
  </connectionStrings>
</configuration>