    <div class="col-md-12 col-sm-6 col-xs-12">
        <div class="x_panel" ng-hide="Tampil">
            <div class="x_title">
                <h2>DAFTAR BERKAS PENDING<small></small></h2>
                <!--<ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li>
                    <a ng-click="ModalTitle = 'Tambah Bidang';model={}" data-toggle="modal" data-target=".bs-example-modal-sm" class="close-link"><i class="fa fa-plus"></i></a>
                </li>
            </ul>-->
                <div class="clearfix"></div>
            </div>
            <div class="x_content" ng-init="Init()">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>ID Permohonan</th>
                            <th>Pemohon</th>
                            <th>Layanan</th>
                            <th width="15%">Action</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in Permohonan[0]">
                            <td scope="row">{{$index+1}}</td>
                            <td>{{item.id}}</td>
                            <td>{{item.pemohon.nama}}</td>
                            <td>{{item.layanan.nama}}</td>
                            <td>
                                <a href="" ng-click="EditItem(item)" data-toggle="modal" data-target=".bs-example-modal-sm"><i class="fa fa-edit fa-2x text-warning"></i></a>
                                <a href="" ng-click="EditItem(item)" data-toggle="modal" data-target=".messagebox"><i class="fa fa-envelope-o fa-2x text-info"></i></a>
                                <a href="" ng-click="Detail(item)" data-toggle="modal" data-target=".kelengkapan"><i class="fa fa-list-ul fa-2x text-info"></i></a>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
        <div class="x_panel" ng-show="Tampil">
            <div class="x_title">
                <h2>VERIFIKASI BERKAS<small></small></h2>
                <!--<ul class="nav navbar-right panel_toolbox">
            <li>
                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li>
                <a ng-click="ModalTitle = 'Tambah Bidang';model={}" data-toggle="modal" data-target=".bs-example-modal-sm" class="close-link"><i class="fa fa-plus"></i></a>
            </li>
        </ul>-->
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row">
                    <div class="col-sm-2 col-xs-12 pull-right">
                        <div class="input-group">
                            <input type="text" class="form-control" ng-model="IdPendaftaran" placeholder="Id Pendaftaran">
                            <span class="input-group-btn">
                                <a class="btn btn-primary" ng-click="ShowBerkas()"><i class="fa fa-search fa-1x text-info"></i></a>
                            </span>
                        </div>
                    </div>
                </div>

                <br />
                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Biodata Pemohon</h2>
                                <ul class="nav navbar-right panel_toolbox">
                                    <li>
                                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li>
                                                <a href="#">Settings 1</a>
                                            </li>
                                            <li>
                                                <a href="#">Settings 2</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a class="close-link"><i class="fa fa-close"></i></a>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>

                            </div>
                            <div class="x_content">
                                <br />
                                <form class="form-horizontal form-label-left input_mask">
                                    <div class="col-xs-12">
                                        <div class="col-md-3">
                                            <img style="width:99%;" data-ng-src="data:image/png;base64,{{DataPermohonan.pemohon.foto}}" data-err-src="" />
                                        </div>
                                        <div class="col-md-9">
                                            <div class="form-group">
                                                <div class="col-xs-12 form-group has-feedback">
                                                    <input type="text" class="form-control has-feedback-left" id="inputSuccess2" ng-model="DataPermohonan.pemohon.nama" disabled>
                                                    <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-xs-12 form-group has-feedback">
                                                    <input type="text" class="form-control has-feedback-left" id="inputSuccess2" ng-model="DataPermohonan.pemohon.nik" disabled>
                                                    <span class="fa fa-credit-card form-control-feedback left" aria-hidden="true"></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-xs-12 form-group has-feedback">
                                                    <textarea class="form-control has-feedback-left" id="inputSuccess2" ng-model="DataPermohonan.pemohon.alamat" disabled></textarea>
                                                    <span class="fa fa-home form-control-feedback left" aria-hidden="true"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Kelengkapan Berkas Pemohonan</h2>
                                <ul class="nav navbar-right panel_toolbox">
                                    <li>
                                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li>
                                                <a href="#">Settings 1</a>
                                            </li>
                                            <li>
                                                <a href="#">Settings 2</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a class="close-link"><i class="fa fa-close"></i></a>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>

                            </div>
                            <div class="x_content">
                                <br />
                                <form class="form-horizontal form-label-left input_mask">
                                    <div class="col-md-12">
                                        <div class="form-group" ng-repeat="item in Layanan.persyaratans">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" class="flat" ng-click="addKelengkapan(item)"> {{item.nama}}
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Command</h2>
                                <ul class="nav navbar-right panel_toolbox">
                                    <li>
                                        <a class="close-link" data-toggle="modal" data-target=".Addmessagebox"><i class="fa fa-plus"></i></a>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>

                            </div>
                            <div class="x_content">
                                <br />
                                <div ng-repeat="item in DataPermohonan.Message" class="col-md-12">
                                    <div class="col-md-12">
                                        <h5><b>{{item.userName}}:</b></h5>
                                        <ul class="nav navbar-right panel_toolbox">
                                            <li>
                                                {{item.tanggal}}
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-md-12">
                                        <p style="margin-left:30px;">{{item.message}}</p>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="form-group">
                    <div class="pull-right">
                        <button type="button" class="btn btn-primary">Cancel</button>
                        <button class="btn btn-primary" type="reset">Reset</button>
                        <button type="submit" ng-click="update()" class="btn btn-success">Proses</button>
                    </div>
                </div>
            </div>
            </div>
        </div>


            <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                            <h4 class="modal-title" id="myModalLabel2">{{ModalTitle}}</h4>
                        </div>
                        <form ng-submit="Save(model)" id="demo-form" data-parsley-validate>
                            <div class="modal-body">
                                <label for="fullname">Nama  </label>
                                <input type="text" class="form-control" ng-model="model.nama" required />
                            </div>

                            <div class="modal-body">
                                <label for="fullname">Petugas</label>
                                <select class="form-control" ng-options="item as item.nama for item in Petugas track by item.id" ng-model="model.petugas"></select>
                            </div>


                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Simpan</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>

            <div class="modal fade messagebox" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                            <h4 class="modal-title" id="myModalLabel2">{{ModalTitle}}</h4>
                        </div>
                        <form ng-submit="Save(model)" id="demo-form" data-parsley-validate>
                            <div class="modal-body">
                                <label for="fullname">Nama  </label>
                                <input type="text" class="form-control" ng-model="model.nama" required />
                            </div>

                            <div class="modal-body">
                                <label for="fullname">Petugas</label>
                                <select class="form-control" ng-options="item as item.nama for item in Petugas track by item.id" ng-model="model.petugas"></select>
                            </div>


                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Simpan</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>




            <div class="modal fade Addmessagebox" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                            <h4 class="modal-title" id="myModalLabel2">Balas Command</h4>
                        </div>
                        <form id="demo-form" data-parsley-validate>
                            <div class="modal-body">
                                <label for="fullname">Command  </label>
                                <textarea class="form-control" ng-model="message" required></textarea>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="submit" ng-show="Profile.nama=='Ludvina Ameng'" ng-click="KirimCommand()" class="btn btn-primary" data-dismiss="modal">Simpan</button>
                                <button type="submit" ng-show="Profile.nama!='Ludvina Ameng'" ng-click="KirimCommand()" data-toggle="modal" data-target=".kelengkapan" class="btn btn-primary" data-dismiss="modal">Simpan</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
            <div class="modal fade kelengkapan" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                            <h4 class="modal-title" id="myModalLabel2">Detail</h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal form-label-left input_mask">
                                <div class="col-xs-12">
                                    <div class="col-md-3">
                                        <img style="width:99%;" height:10px;" data-ng-src="data:image/png;base64,{{DataPermohonan.pemohon.foto}}" data-err-src=""/>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="form-group">
                                            <div class="col-xs-12 form-group has-feedback">
                                                <input type="text" class="form-control has-feedback-left" id="inputSuccess2" ng-model="DataPermohonan.pemohon.nama" disabled>
                                                <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-xs-12 form-group has-feedback">
                                                <input type="text" class="form-control has-feedback-left" id="inputSuccess2" ng-model="DataPermohonan.pemohon.nik" disabled>
                                                <span class="fa fa-credit-card form-control-feedback left" aria-hidden="true"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-xs-12 form-group has-feedback">
                                                <textarea class="form-control has-feedback-left" id="inputSuccess2" ng-model="DataPermohonan.pemohon.alamat" disabled></textarea>
                                                <span class="fa fa-home form-control-feedback left" aria-hidden="true"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>Command</h2>
                                    <ul class="nav navbar-right panel_toolbox">
                                        <li>
                                            <a class="close-link" data-toggle="modal" data-target=".Addmessagebox" data-dismiss="modal"><i class="fa fa-plus"></i></a>
                                        </li>
                                    </ul>
                                    <div class="clearfix"></div>

                                </div>
                                <div class="x_content">
                                    <br />
                                    <div ng-repeat="item in DataPermohonan.Message" class="col-md-12">
                                        <div class="col-md-12">
                                            <h5><b>{{item.userName}}:</b></h5>
                                            <ul class="nav navbar-right panel_toolbox">
                                                <li>
                                                    {{item.tanggal}}
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-12">
                                            <p style="margin-left:30px;">{{item.message}}</p>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button ng-show="Profile.nama=='Ludvina Ameng'" type="submit" ng-click="update()" class="btn btn-primary">Simpan</button>
                            <button ng-show="Profile.nama!='Ludvina Ameng'" type="submit" ng-click="update()" class="btn btn-primary">Simpan</button>
                        </div>
                    </div>

                </div>
            </div>

