<div class="main_container">
    <div class="col-md-3 left_col">
        <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
                <a href="/" class="site_title">
                    <img style="width:40px" src="/apps/images/logobpn2017.png" />
                    <span>Pertanahan</span>
                </a>
            </div>
            <div class="clearfix"></div>
            <!-- menu profile quick info -->
            <div class="profile clearfix">
              
            </div>
            <!-- /menu profile quick info -->

            <br />

            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                <div class="menu_section">
                    <ul class="nav side-menu">
                        <li>
                            <a ui-sref="dashboard">
                                <i class="fa fa-home"></i> Home
                            </a>
                        </li>
                        <li>
                            <a ui-sref='bidang'>
                                <i class="fa fa-edit"></i> Bidang
                                <span class="fa fa-plus"></span>
                            </a>
                        </li>
                        <li>
                            <a ui-sref='admin-petugas'>
                                <i class="fa fa-users"></i> Petugas
                                <span class="fa fa-plus"></span>
                            </a>
                        </li>
                        <li>
                            <a ui-sref='kategori'>
                                <i class="fa fa-edit"></i> Kategori
                                <span class="fa fa-plus"></span>
                            </a>
                        </li>
                        <li>
                            <a ui-sref='tahapan'>
                                <i class="fa fa-steam-square"></i> Tahapan
                                <span class="fa fa-plus"></span>
                            </a>
                        </li>
                        <li>
                            <a ui-sref='layanan'>
                                <i class="fa fa-edit"></i> LAYANAN
                                <span class="fa fa-plus"></span>
                            </a>
                        </li>
                    </ul>
                </div>


            </div>
            <!-- /sidebar menu -->
            <!-- /menu footer buttons -->
            <div class="sidebar-footer hidden-small">
               
            </div>
            <!-- /menu footer buttons -->
        </div>
    </div>

    <!-- top navigation -->
    <div class="top_nav">
        <div class="nav_menu">
            <nav>
                <div class="nav toggle">
                    <a id="menu_toggle">
                        <i class="fa fa-bars"></i>
                    </a>
                </div>

                <ul class="nav navbar-nav navbar-right">
                    <li class="">
                        <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                           
                            <span class=" fa fa-angle-down"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-usermenu pull-right">
                            <li>
                                <a href="javascript:;"> Profile</a>
                            </li>
                          
                            <li>
                                <a href="/Admin/index#!/login">
                                    <i class="fa fa-sign-out pull-right"></i> Log Out
                                </a>
                            </li>
                        </ul>
                    </li>

                 
                </ul>
            </nav>
        </div>
    </div>
    <!-- /top navigation -->
    <!-- page content -->
    <div class="right_col" role="main">
        <div class="ui-base">
            <div ui-view />
        </div>
    </div>
    <!-- /page content -->


</div>
<!-- footer content -->
<footer>
    <div class="pull-right">
      Badan Pertanahan Nasional
    </div>
    <div class="clearfix"></div>
</footer>
<!-- /footer content -->

<script src="/build/js/custom.min.js"></script>