<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="~/images/favicon.ico" type="image/ico" />
    <title>Gentelella Alela! | </title>
    <!-- Bootstrap -->
    <link href="~/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
 
    <link href="~/build/css/custom.min.css" rel="stylesheet">
  
</head>
<body>
    <div class="container body">
        <div style="margin:10px" class="pull-right">
            Have Account ?  <a class="btn btn-default" href="/Admin/index#!/login">LOGIN</a>
        </div>


        <style>
            .center {
                height: 250px;
                position: relative;
            }
            h3{
                margin-top:50px;
            }
                .center img{
                    margin: 0;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    -ms-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
                }
        </style>
        <div style="margin:50px" class="center">
            <img style="width:200px" src="~/apps/images/logobpn2017.png" />
           
        </div>
        <center>
            <h1>SELEMAT DATANG</h1>
            <h3>Aplikasi Layanan Pertanahan Kantor Pertanahan Kabupaten Jayapura</h3>
            <button class="btn btn-dark">Download Android App</button>
        </center>
        <div class="row">

            <center>
               
               
            </center>
        </div>
    </div>
        <script src="~/build/js/custom.min.js"></script>
</body>

</html>





