/* Coolors Exported Palette - coolors.co/090a0a-a50104-fdffff-054a91-136f63 */

/* HSL */
$color1: hsla(180%, 5%, 4%, 1);
$color2: hsla(359%, 99%, 33%, 1);
$color3: hsla(180%, 100%, 100%, 1);
$color4: hsla(210%, 93%, 29%, 1);
$color5: hsla(172%, 71%, 25%, 1);

/* RGB */
$color1: rgba(9, 10, 10, 1);
$color2: rgba(165, 1, 4, 1);
$color3: rgba(253, 255, 255, 1);
$color4: rgba(5, 74, 145, 1);
$color5: rgba(19, 111, 99, 1);